:root {
    --headerAlto: 80px;
    --navAncho: 120px;
    --asideAncho: 300px;
    --grisOscuro: rgb(32, 32, 32);
    --botonSeleccionado: rgb(111, 209, 188);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

.inputOculto {
    position: absolute;
    z-index: 1;
    appearance: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.botonNav {
    position: relative;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    transition: .3s;

    .iconoBoton {
        width: 100%;
        height: 100%;
        background-color: grey;
        mask-size: 60%;
        mask-position: center;
        mask-repeat: no-repeat;
    }

    &:has(input:hover) {
        background-color: var(--grisOscuro);

        .iconoBoton {
            background-color: white;
        }
    }

    &:has(input:checked) {
        background-color: var(--grisOscuro);

        .iconoBoton {
            background-color: var(--botonSeleccionado);
        }
    }
}

.borderRadius4 {
    border-radius: 4px;
}

.borderGrey {
    border: 1px solid grey;
}

.flexCentrado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexFila {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexColumna {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column
}