:root {
    --liSize: 5vh;
}

nav {
    position: fixed;
    top: var(--headerAlto);
    width: var(--navAncho);
    height: calc(100vh - var(--headerAlto));
    padding: 20px;

    .botonNav:first-of-type:not(.listaCategorias .botonNav) {
        /* compensando el padding */
        width: calc(100% + 20px);

        .iconoBoton {
            /* rectificando estilo */
            width: 40px;
            aspect-ratio: 1/1;
        }
    }

    .menuNav:has(.inputOculto:checked)+form .botonNav {
        transform: translateX(0);

        &:nth-of-type(1) {
            transition: transform .3s;
        }

        &:nth-of-type(2) {
            transition: transform .3s .1s;
        }

        &:nth-of-type(3) {
            transition: transform .3s .2s;
        }

        &:nth-of-type(4) {
            transition: transform .3s .3s;
        }

        &:nth-of-type(5) {
            transition: transform .3s .4s;
        }

        &:nth-of-type(6) {
            transition: transform .3s .5s;
        }

        &:nth-of-type(7) {
            transition: transform .3s .6s;
        }

        &:nth-of-type(8) {
            transition: transform .3s .7s;
        }

        &:nth-of-type(9) {
            transition: transform .3s .8s;
        }
    }

    form {
        width: 40px;
        height: calc(100% - 60px);
        margin-top: 20px;
        overflow-y: auto;

        .botonNav {
            transform: translateX(-40px);
        }
    }
}